body{
    background-color: skyblue;
}

@keyframes anime{
    0% {background: red; transform: scale(1.25);}
    50% {background: blue; transform: scale(1.5)}
    100% {background: yellow; transform: scale(1.75);}
}

.blaa{
     text-align: center;
    /*animation-name: anime;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate; */

    animation: anime 5s linear 1s infinite alternate;
}